<h1>{{title}}</h1>
{{#if usuarioAutenticado}}
<p>Hola {{usuario}} <a href="/salir">Salir</a> </p>
{{/if}}
{{#unless usuarioAutenticado}}
<p>Usuario no registrado</p>
<h4>{{error}}</h4>
<form action="/ingresar" method="post">
    <input type="text" name="usuario" placeholder="Usuario" >
    <br>
    <input type="password" name="password" placeholder="Contraseña" > 
    <br>
    <button>Ingresar</button>
</form>
{{/unless}}